body {
    color: #333333;
    font-family: Arial;
    max-width: 650px;
    margin: 0 auto;
    padding: 0, 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh
}

footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

.portrait {
    width: 250px;
}

h1 {
    font-size: 46px;
    margin-bottom: 48px;
}

header a {
    color: #888888;
    margin-right: 16px;
    text-decoration: none;
}

.main-content {
    flex-grow: 1;
}

input {
    border: 1px solid #cccccc;
    padding: 8px; 
    margin: 4px;
}

button {
    border: 1px solid #888888;
    padding: 8px;
    margin: 4px;
    background-color: #888888;
    cursor: pointer;
    color: #cccccc;
}

.inputForm {
    display: flex;
    flex-direction: row;
}

.summary {
    display: flex;
    flex-direction: row;
}

.summary canvas {
    width: 128px;
    height: 64px;
    margin: 16px;
}